/* .mapboxgl-canvas-container {
  width: 100vw;
  height: 100%;
} */
*{
  margin:0%;
  padding:0;
}
.catalog{
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.wineryList{
  max-width: 40vw;
  grid-area: 1 / 1 / 6 / 2; 
}
 #map{
  grid-area: 1 / 3/ 6 / 6;
 }
 .popupContent{
   display: flex;
   flex-direction: column 
 }
 .popupContent img{
   max-width: 20vw;
   height: 100%
 }