@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap");
.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

.varietal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  height: 100vh;
  overflow: hidden;
}

.varietal-list {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  font-size: 24px;
  overflow: scroll;
  width: 25vw;
}

.varietal-list h3 {
  position: fixed;
  font-size: 36px;
  font-weight: 500px;
}

.varietal-list-items {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
}

.varietal-info {
  margin: 10px 0;
  border-radius: 2px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 22px;
  background-size: 100vw;
  background-repeat: no-repeat;
}

.varietal-info h3 {
  font-size: 80px;
  letter-spacing: 20px;
}

.varietal-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding: 0 70px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
}

.varietal-info p div {
  width: 50%;
  font-size: 26px;
}

.varietal-info p button {
  margin: 15px 0;
  font-size: 20px;
  border-radius: 4px;
  padding: 10px;
  border: none;
  font-size: 20px;
  -webkit-box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.varietal-info p button:after > * {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.varietal-info p button:hover {
  padding-right: 30px;
  padding-left: 10px;
}

.varietal-info p button:hover:after > * {
  opacity: 1;
  right: 10px;
}

.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

.winery {
  width: 100vw;
  max-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5] !important;
      grid-template-columns: repeat(5, 1fr) !important;
  -ms-grid-rows: (1fr)[5] !important;
      grid-template-rows: repeat(5, 1fr) !important;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: url("https://images.unsplash.com/photo-1464638681273-0962e9b53566?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  color: #fdf2d4;
  overflow: hidden;
}

.winery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1/ 6 / 3;
  position: absolute;
}

.winery-box button {
  width: 90%;
  height: 50px;
  font-size: 20px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 3px;
}

.winery-box .search {
  position: fixed;
  top: 5vh;
  width: 18%;
  margin-left: 26vw;
  z-index: 3;
  color: #fdf2d4;
}

.winery-box .search:focus {
  outline: none !important;
  -webkit-box-shadow: inset 2px 2px 1px #fdf2d4, inset -2px -2px 1px #fdf2d4;
          box-shadow: inset 2px 2px 1px #fdf2d4, inset -2px -2px 1px #fdf2d4;
}

.winery-list {
  margin: 0px 130px 0px 20px;
  height: 90vh;
  cursor: pointer;
}

.winery-list .list-push {
  position: relative;
  margin-top: 200px;
}

.winery-list h3 {
  position: fixed;
  font-size: 50px;
  letter-spacing: 6px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.winery-list .start {
  position: fixed;
  top: 18vh;
  width: 30vw;
}

.winery-list .end {
  top: 4vh !important;
}

.winery-list-items .tour .tf {
  position: absolute;
  top: -10vh;
  height: 1px !important;
}

.winery-list-items .tour .tf-choose {
  top: 12vh;
  background: #fdf2d4;
  margin-left: 40vw;
  z-index: 3;
  width: 40%;
  color: #0b1118;
}

.winery-list-items .tour .tf-choose button {
  color: #0b1118;
  width: 100%;
  border: none;
  border-bottom: 2px solid #0b1118;
}

.winery-list-items .tour .tf-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  margin-bottom: 20px;
}

.winery-list-items .tour .tf-name-input {
  margin: 10px 0;
}

.winery-list-items .tour .tf input,
.winery-list-items .tour .tf select {
  background: transparent;
}

.winery-list-items .tour .tf-stop-input {
  border: none;
  height: 60vh;
  outline: none !important;
}

.winery-list-items .tour .tf-btn {
  font-size: 16px !important;
  width: 10vw !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.winery-list-items .log-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.winery-list-items .remove {
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 10px;
}

.winery-list-items .remove img {
  width: 20px;
}

.winery-list-items:first-child {
  margin-top: 30px;
  overflow: scroll;
}

.winery-list-item {
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

#fade {
  height: 100vh;
  width: 2vw;
  background: #213414;
  position: relative;
  left: 18vw;
  z-index: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2/ 6 / 3;
  -webkit-box-shadow: 0px -20px 20px #213414, 0px -20px 30px #213414, 0px 20px 20px #213414, -20px 20px 30px #213414;
          box-shadow: 0px -20px 20px #213414, 0px -20px 30px #213414, 0px 20px 20px #213414, -20px 20px 30px #213414;
}

::-webkit-scrollbar {
  display: none;
}

.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

.nav {
  right: 0;
  position: fixed;
  background: #fdf2d4;
  margin-left: 0px;
  z-index: 4;
  font-size: 28px;
  border-left: 4px solid #0b1118;
}

.nav-bar {
  height: 100vh;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  pointer-events: none;
}

.nav-bar > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
  pointer-events: auto;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav-bar:hover > * {
  opacity: 0.2;
  letter-spacing: -10px;
}

.nav-bar:hover > *:hover {
  visibility: visible;
  letter-spacing: 10px;
  right: 50px;
  opacity: 1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.nav-bar a {
  text-decoration: none;
  color: #0b1118;
  height: 50px;
  width: 50px;
}

.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

.home {
  background-image: url("https://images.pexels.com/photos/4360899/pexels-photo-4360899.jpeg?cs=srgb&dl=pexels-anastasia-yudin-4360899.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-family: "Red Hat Display", sans-serif;
  color: #0b1118;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 100px;
}

.home-header span {
  height: 33vh;
}

.home-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65vh;
  margin-right: 70px;
  cursor: pointer;
}

.home-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fdf2d4;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 40px;
}

.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

.winery-page {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

.winery-page-title {
  height: 100vh;
}

.winery-page-title .name-div {
  font-size: 80px;
  text-shadow: 0px 9px 2px #fdf2d4;
}

.winery-page .winery-blurb {
  width: 35vw;
  color: #0b1118;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #ffeb89;
  padding: 0 65px 0 9px;
  margin-right: 0px;
}

.winery-page .winery-blurb p {
  color: #0b1118;
  font-size: 24px;
  overflow: scroll;
  height: 50vh;
}

.winery-page .winery-blurb select {
  height: 40vh;
  width: 35vw;
  border: none;
  background: transparent;
  font-weight: 400px;
  font-size: 20px;
  color: #0b1118;
  border-top: 2px solid #0b1118;
  border-bottom: 2px solid #0b1118;
}

.winery-page .winery-blurb select:focus {
  outline: none !important;
}

.winery-page .winery-blurb .sel {
  background: blue;
}

.winery-page .winery-blurb input {
  position: relative;
  bottom: 2vh;
  right: 4vw;
  background: #ffeb89 !important;
  border: none;
}

.winery-page-icon {
  width: 125px;
  margin-left: 30%;
  position: absolute;
  top: 84vh;
  right: 60vw;
}

.mapboxgl-popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.mapboxgl-popup-content img {
  width: 600px;
  margin-top: 15px;
  border-radius: 5px;
  border: 3px solid #fdf2d4;
}

.mapboxgl-popup-content button {
  display: none;
}

.mapboxgl-popup-content p {
  width: 500px;
  margin: auto;
  position: absolute;
  margin-top: 80px;
  margin-left: auto;
}

.mapboxgl-popup {
  background: transparent;
  border-radius: 5px;
  text-align: center;
  color: white;
  width: 20%;
  font-size: 20px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: transparent;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: transparent;
}

.mapboxgl-map {
  background: transparent;
}

#map {
  margin-right: 50px;
  width: 57vw;
}

.pin {
  background: #fdf2d4;
  padding: 0px;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 9px #fdf2d4, 0px 0px 11px #fdf2d4, 0px 0px 5px #fdf2d4, 0px 0px 7px #fdf2d4;
          box-shadow: 0px 0px 9px #fdf2d4, 0px 0px 11px #fdf2d4, 0px 0px 5px #fdf2d4, 0px 0px 7px #fdf2d4;
}

.mapboxgl-ctrl-group > button {
  position: relative !important;
  padding: 0;
}

.mapboxgl-ctrl-icon,
.mapboxgl-ctrl-icon > .mapboxgl-ctrl-compass-arrow {
  position: absolute !important;
  top: -4px;
  left: -4px;
}

.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

.list-body {
  max-height: 100vh;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 60px;
}

.list-header-1, .list-header-2 {
  height: 100vh;
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-header-1 p, .list-header-2 p {
  padding: 20px 0;
}

.list-header-2 {
  text-align: right;
}

.list-container-1, .list-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
}

.list-content-1, .list-content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.list-content-1 .expand, .list-content-2 .expand {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.list-content-1 .open, .list-content-2 .open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.list-content-1 button, .list-content-2 button {
  background: transparent;
  border: none;
  margin: 4px;
}

.list-content-1 {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list-content-1 .list-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.list-item {
  border-bottom: 1px solid #0b1118;
}

.list .review {
  border: 1px solid #0b1118;
}

.icon {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
}

.winery-box .search, .winery-list-items .tour .tf-name-input, .winery-list-items .tour .tf-btn {
  background: transparent;
  border: 1px solid #fdf2d4;
  border-radius: 3px;
  padding: 6px;
  height: 25px;
  text-align: center;
  font-size: 20px;
}

.winery-list, .winery-list-items .tour .tf-stop-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  overflow: scroll;
  width: 30vw;
}

.winery-page .winery-blurb input {
  background: transparent;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #0b1118;
}

.varietal-list h3, .varietal-info h3 {
  font-weight: 500px;
}

h3 {
  color: #0b1118;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

#map {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 1 / 3/ 6 / 6;
}

.popupContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popupContent img {
  max-width: 20vw;
  height: 100%;
}
