@import "config";
@import "utilities";
.winery {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr) !important;
  grid-template-rows: repeat(5, 1fr) !important;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
background:#436929;
  overflow: hidden;

  &-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    grid-area: 1 / 1/ 6 / 3;
    position: absolute;
    button {
      width: 90%;
      height: 50px;
      font-size: 20px;
      background: transparent;
      border: 1px solid gray;
      border-radius: 3px;
    }
    .search {
      @extend %text-field;
      position: fixed;
      top: 1.5vh;
      width: 18%;
      margin-left: 53vw;
      z-index: 3;
      color: $light;
      &:focus {
        outline: none !important;
        box-shadow: inset 2px 2px 1px $light, inset -2px -2px 1px $light;
      }
    }
  }
  &-list {
    @extend %catalog-list;
    margin: 0px 130px 0px 20px;
    height: 90vh;
 


    cursor: pointer;
    .list-push {
      position: relative;
      margin-top: 200px;
      background-clip:text
      

    }
    h3 {
      position: fixed;
      font-size: 50px;
      letter-spacing: 6px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      text-shadow: 0px 6px 0px $light;

      
    }
    .start {
      position: fixed;
      top: 18vh;
      width: 30vw;
      border: 1px solid $light;
      color:$light;
      &:hover{
        border: 2px solid $light;
      }
     
    }
    .end {
      top: 4vh !important;
    }

    &-items {
      .tour {
        .tf {
          h2{
            color:$dark;
            text-shadow: 0px 5px 0px $light;

          }
          position:absolute;
          top: 13vh;
          height: 1px !important;
          &-name{
            display: flex;
            flex-direction: column;
            width: 30vw;
            margin-bottom: 20px;

            &-input {
              @extend %text-field;
              margin: 10px 0;
            }
          }
         
          input,
          select {
            background: transparent;
          }
          input{
            padding:6px;
            height: 30px;
          }

          &-stop-input {
            @extend %catalog-list;
            border:none;
            height: 60vh;
            outline: none !important;
            color:$light !important;
 


          }
          &-log{
            position:absolute;
            left: 31.5vw;
            width: 12vw;
            text-align:left;
            z-index:4;
            top: -24vh;
            overflow:scroll;
            height: 98vh;
            padding: 10px;
            color: $light;


            &-item-1{
              display: flex;
              flex-direction: column;
              font-size: 15px;
              .line{
                transform:rotate(45deg);
                height: 30px;
                margin: 15px 0;
              }
            
            }
            &-item-2{
              display: flex;
              align-items: center;
              
            }
          }
          &-btn {
            @extend %text-field;
            font-size: 16px !important;
            width: 10vw !important;
            align-self: center;
          }
        }
      }

    
      .remove {
        width: 20px;
        height: 20px;
        border: none;
        .minus {
          width: 12px;
          margin-right: 6px;
        }
      }
    }
    &-items:first-child {
      margin-top: 30px;
      overflow: scroll;
    }
    &-item {
      margin: 0px 20px;
      display: inline-block;
      position: relative;
      &:hover{
        color: $light;
      }
    }
    .false{
      color:$light;
    }
  }
}
#fade {
  height: 100vh
}
::-webkit-scrollbar {
  display: none;
}
::placeholder{
  color:$light;
}
