@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&display=swap');
$body-font:'Cormorant Infant', serif;
$peach: rgb(230, 186, 149);
$light: rgb(250, 253, 214);
$med: rgba(228, 233, 190, .5);
$dark: rgb(94, 95, 78);
$green: rgb(162, 179, 139);
$title: 28px;
$pink: rgb(148, 110, 131);
$light-pink: rgba(148, 110, 131,.5);
$deep: #33262d;
$maroon: #615055;
$blue-gray:#CDD5D1;
$lavender: #B4A6AB;

// @function set-text-color($color) {
//   @if (lightness($color) >70) {
//     @return #333;
//   } @else {
//     @return #fff;
//   }
// }

// @mixin set-background($color){
//     background-color: $color;
//     color: set-text-color($color);
// }
// //needs @include set-background($peach)

// $spaceamounts: (1,2,3,4,5);

// @each $space in $spaceamounts{
//     .m-#{$space}{
//         margin: #{$space}rem;
//     }
//     .my-#{$space}{
//         margin: #{$space}rem 0;
//     }
//     .p-#{$space}{
//         padding: #{$space}rem 0;
//     }
//     .py-#{$space}{
//         padding: #{$space}rem 0;
//     }
// }