@import 'config';
@import 'utilities';
.home{
    background-image: url('https://images.pexels.com/photos/4360899/pexels-photo-4360899.jpeg?cs=srgb&dl=pexels-anastasia-yudin-4360899.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    overflow:hidden;

    &-header{
        font-size: 80px; 
        font-family: 'Babylonica', cursive;

    }
    &-links{
        display:flex;
        div{
            backdrop-filter:blur(5px);
            height: 25vh;
            width: 25vw;
            display:flex;
            align-items:center;
            justify-content:center;
            margin:20px;
            border-radius: 10px;
            font-size: 30px;
            &-1{
                align-self:flex-start
            }
            &-2{
                align-self:flex-end
            }
            &-3{
                align-self:flex-start
            }
        }
    }
}