.mapboxgl-popup-content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
  img {
    width: 600px;
    margin-top: 15px;
    border-radius: 5px;
    border: 3px solid $light;
  }
  button {
    display: none;
  }
  p {
    width: 500px;
    margin: auto;
    position: absolute;
    margin-top: 80px;
    margin-left: auto;
  }
}
.mapboxgl-popup {
  background: transparent;
  border-radius: 5px;
  text-align: center;
  color: white;
  width: 20%;
  font-size: 20px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: transparent;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: transparent;
}
.mapboxgl-map {
  background: transparent;
}
#map {
  margin-right: 50px;
  width: 57vw;

 

}
.pin {
  background: $light;
  padding: 0px;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  box-shadow: 0px 0px 3px $light, 0px 0px 5px $light,
    0px 0px 7px $light;
}
.mapboxgl-ctrl-group > button {

position: relative !important;  padding: 0;

}
.mapboxgl-ctrl-icon,
.mapboxgl-ctrl-icon > .mapboxgl-ctrl-compass-arrow {
   position: absolute !important;
   top: -4px;
   left: -4px;
}