@import 'config';
button{
    background: transparent;
    margin: 10px;
    padding: 3px;
    border:none;

    &:hover {
        transform: scale(.98)
    }
}

.icon{
    width: 15px;
    height: 15px;
}

a{
    text-decoration:none;
}

.lg-button{
    @extend button;
    
}