@import "config";
@import "utilities";

.winery-page {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;

  &-title {
    height: 100vh;
    .name-div {
      font-size: 80px;
      text-shadow: 0px 9px 2px $light;
      // width: 40vw;
    }
  }
  .winery-blurb {
    width: 35vw;
    color: $dark;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffeb89;
    padding: 0 65px 0 9px;
    margin-right: 0px;

    p {
      color: $dark;
      // border: 2px solid $dark;
      font-size: 24px;
      overflow: scroll;
      height: 50vh;
    }

    select {
      height: 40vh;
      width: 35vw;
      border: none;
      background: transparent;
      font-weight: 400px;
      font-size: 20px;
      color: $dark;
      border-top: 2px solid $dark;
      border-bottom: 2px solid $dark;

      &:focus {
        outline: none !important;
      }
    }
  
    .sel {
      background: blue;
    }

    input{
      @extend %btn;
      position: relative;
      bottom: 2vh;
      right: 4vw;
      background: #ffeb89 !important;
      border:none;
     
    }


  }
  &-icon {
    width: 125px;
    margin-left: 30%;
    position: absolute;
    top: 84vh;
    right: 60vw;
  }
}
